@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overscroll-behavior-y: none;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  color: var(--foreground);
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Offline state handling */
body.is-offline-initial .main-app-content {
  display: none !important;
}
